{% extends 'blog/base.html' %}

{% block title %}
<title>Página Inicial</title>
{% endblock %}

{% block content %}
<ul>
    {% for post in object_list %}
        {% if post.data_publicacao != None %}
        <a href="{% url 'post-details' post.pk %}"><h3>{{ post.titulo }}</h1></a><small><a href="{% url 'categoria' post.categoria|slugify %}">{{post.categoria}}</a></small>
            <small>
            {% if user.is_authenticated %}
                {% if user.id == post.autor.id %}
                    - <a class= "btn btn-secondary btn-sm"  href="{% url 'editar_post' post.pk %}">Editar</a> |
                    <a class= "btn btn-secondary btn-sm"  href="{% url 'deletar_post' post.pk %}">Deletar</a>
                {% endif %}
            {% endif %}
        </small></br>
        {{ post.texto |slice:":200" }}
        {% endif %}
    <br/><br/>
    {% endfor %}
 </ul>
{% endblock %}